In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
test = pd.read_csv('C:\\Users\\User\\Downloads\\Telegram Desktop\\test.csv')
test.loc[0, 'Sex'] = 0 #male it is 0
test.loc[1, 'Sex'] = 1 #female it is 1
test.loc[2, 'Sex'] = 0
test.loc[3, 'Sex'] = 0
test.loc[4, 'Sex'] = 1
test.loc[5, 'Sex'] = 0
test.loc[6, 'Sex'] = 1
test.loc[7, 'Sex'] = 0
test.loc[8, 'Sex'] = 1
test.loc[9, 'Sex'] = 0
x = test["Pclass"].median()
test["Pclass"].fillna(x, inplace = True)
test.loc[0, 'Pclass'] = x
test.loc[1, 'Pclass'] = x
test.loc[2, 'Pclass'] = x
test.loc[3, 'Pclass'] = x
test.loc[4, 'Pclass'] = x
test.loc[5, 'Pclass'] = x
test.loc[6, 'Pclass'] = x
test.loc[7, 'Pclass'] = x
test.loc[8, 'Pclass'] = x
test.loc[9, 'Pclass'] = x
print(test.head(10))

   PassengerId  Pclass                                          Name Sex  \
0          892       3                              Kelly, Mr. James   0
1          893       3              Wilkes, Mrs. James (Ellen Needs)   1
2          894       3                     Myles, Mr. Thomas Francis   0
3          895       3                              Wirz, Mr. Albert   0
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)   1
5          897       3                    Svensson, Mr. Johan Cervin   0
6          898       3                          Connolly, Miss. Kate   1
7          899       3                  Caldwell, Mr. Albert Francis   0
8          900       3     Abrahim, Mrs. Joseph (Sophie Halaut Easu)   1
9          901       3                       Davies, Mr. John Samuel   0

    Age  SibSp  Parch     Ticket     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S
5  14.0      0      0       7538   9.2250   NaN        S
6  30.0      0      0     330972   7.6292   NaN        Q
7  26.0      1      1     248738  29.0000   NaN        S
8  18.0      0      0       2657   7.2292   NaN        C
9  21.0      2      0  A/4 48871  24.1500   NaN        S